//
// Theme style
//
* {
    font-family: Tajawal;
}

// Initialize
@import "init";

// Components
@import "../../core/sass/components/components";
@import "components/components";

// Layout
@import "layout/layout";
//
//
.dataTables_filter {
    label {
        input {
            display: inline-block;
        }
    }
}

.dataTables_length {
    label {
        width: 50%;

        select {
            display: inherit;
            width: 80px;
        }
    }
}

.dataTables_scrollBody {
    table.dataTable {
        thead {
            visibility: collapse;
        }
    }
}
